# Third Down Woes, Situation or Incompentence?

After the Eagles dropped their latest game to the Washington Redskins, Chip Kelly attributed part of the lack of offensive success to poor performance on third down, saying, 
    
"you got to stay on the field on third down. So if third down gets you a first down, now we can run the football. We're not converting third downs and that's the biggest problem with us offensively right now. We need to play more on offense. That's the bottom-line. We're getting off the field on third down and most of the time when we're off the field on third down, it's our fault. We're not getting stopped. We're doing it to ourselves."
    
Football analyst Warren Sharp, of whom I am fan, wrote an excellent counterpoint to the comments, in this article http://www.foxsports.com/college-football/outkick-the-coverage/chip-kelly-is-wrong-about-the-eagles-problems-100715.  His main argument was that the Eagles are so poor on third down because they have a very high yards per 3rd down attempt, which limits their ability to convert.

That is a fair argument, but as somebody who has watched every moment of Eagles struggles this year, it didn't really seem right.  I decided to not rely on average yards to gain on third down, but instead look at how teams have performed on different types of third downs: 

Short : (0-3]
Medium: (3-6]
Long  : (6-10]
Long+ : (10+]

This way we can see that the Eagles are not only putting themselves into bad situations, but that they are also performing towards the bottom of the league when you control for distance.

I am using BurntSushi's NFLGame Package for all data.

In [1]:
#Import necessary Python Packages
import nflgame
import pandas
import numpy as np
import seaborn as sns

#Grab all plays from games in Week 1-4, 2015
games = nflgame.games(2015, week=[1, 2, 3, 4])
plays = nflgame.combine_plays(games)

#Build a Dataset with all 3rd down plays out of the set of plays built above
columns=["team", "ytg", "success", "rush", "patt", "playdescription"]

df = pandas.DataFrame(columns=columns)

for p in plays.filter(down=3):
    tempdf = pandas.DataFrame([[p.team, p.yards_togo, p.first_down, p.rushing_att, p.passing_att,
                            p]],columns=columns)
    df = df.append(tempdf, ignore_index=True)

ImportError: No module named seaborn

Comparing my dataset with ProFootballReference's wonderful Game Play Finder tool, you'll see that our data conflicts with PFR.  We have 1,852 3rd down plays compared 1,671 here (insert PFR link).

In [2]:
df.describe()

               ytg      success         rush         patt
count  1852.000000  1852.000000  1852.000000  1852.000000
mean      7.294276     0.397948     0.193305     0.651188
std       5.225060     0.495093     0.394996     0.476723
min       1.000000     0.000000     0.000000     0.000000
25%       3.000000     0.000000     0.000000     0.000000
50%       6.000000     0.000000     0.000000     1.000000
75%      10.000000     1.000000     0.000000     1.000000
max      42.000000     2.000000     1.000000     1.000000

After some digging, it looks like there are a number of plays recorded that did not result in a play.  There are also a few field goals.  We'll remove those from our dataset.

In [3]:
#Remove No Plays and FGs 
df=df[~df["playdescription"].astype("str").str.contains("No Play")]
df=df[~df["playdescription"].astype("str").str.contains("field goal")]

#Set few odd plays where success ==2 to 1, to indicate a successful 3rd down conversion.
df.set_value(df[df['success']==2].index, 'success', 1)
df.describe()

               ytg      success         rush         patt
count  1672.000000  1672.000000  1672.000000  1672.000000
mean      7.316388     0.395335     0.214115     0.721292
std       5.306389     0.489069     0.410330     0.448498
min       1.000000     0.000000     0.000000     0.000000
25%       3.000000     0.000000     0.000000     0.000000
50%       6.000000     0.000000     0.000000     1.000000
75%      10.000000     1.000000     0.000000     1.000000
max      42.000000     1.000000     1.000000     1.000000

A one play difference from PFR is great.  Now that the data is ready, let's dig into the data. The table below shows just how poorly the Eagles have performed on third down.  Their performance ranks 30th in the league, and the league-leading Patriots are 2x more likely to convert 3rd downs than the Eagles.

In [4]:
#Table that shows 3rd down rate by team
third=df.pivot_table(index='team', values='success', aggfunc=[np.sum, len,np.mean])
third.sort("mean", ascending=False).head()

      sum  len      mean
team
NE     21   35  0.600000
ATL    33   61  0.540984
NO     27   57  0.473684
IND    26   55  0.472727
WAS    29   63  0.460317

In [5]:
third.sort("mean", ascending=False).tail()

      sum  len      mean
team
STL    15   46  0.326087
TB     17   58  0.293103
PHI    14   50  0.280000
MIA    14   52  0.269231
KC     12   46  0.260870

The poor performance is certainly related to yards to go on third downs.  The table below  slices plays into distance groups to show how frequently each team faced each 3rd down situation.  You can see that the Patriots are the team that most frequently face 3rd and short, while the Eagles are pretty evenly spread out between the distances.

In [19]:
labels=['short','mid','long','long+']

#Build distance buckets for 3rd down distance
df['ytgBuckets']=pandas.cut(df.ytg, [0,3,6,10,50], right=True, labels=labels,retbins=False,
                            precision=3, include_lowest=False).astype("str")

distfreq=df.pivot_table(index='team', columns='ytgBuckets', values='success', aggfunc=len)
distfreq=distfreq[labels]
distfreq=distfreq.divide(distfreq.sum(axis=1), axis='rows')
distfreq.sort("short", ascending=False)

ytgBuckets     short       mid      long     long+
team
NE          0.400000  0.257143  0.257143  0.085714
DAL         0.390244  0.195122  0.170732  0.243902
SEA         0.385965  0.245614  0.140351  0.228070
BAL         0.368421  0.192982  0.298246  0.140351
CIN         0.354167  0.166667  0.270833  0.208333
SF          0.351852  0.185185  0.185185  0.277778
ARI         0.348837  0.232558  0.325581  0.093023
ATL         0.344262  0.278689  0.213115  0.163934
GB          0.319149  0.191489  0.382979  0.106383
NYG         0.310345  0.206897  0.327586  0.155172
OAK         0.301887  0.226415  0.301887  0.169811
SD          0.300000  0.180000  0.300000  0.220000
TEN         0.289474  0.210526  0.236842  0.263158
WAS         0.285714  0.222222  0.253968  0.238095
NO          0.280702  0.315789  0.263158  0.140351
PIT         0.280000  0.300000  0.200000  0.220000
IND         0.272727  0.254545  0.345455  0.127273
CHI         0.271186  0.186441  0.305085  0.237288
CLE         0.267857  0.160714  0.285714  0.285714
JAC         0.250000  0.232143  0.339286  0.178571
HOU         0.242424  0.166667  0.439394  0.151515
MIA         0.230769  0.230769  0.288462  0.250000
DET         0.229167  0.270833  0.270833  0.229167
MIN         0.229167  0.208333  0.395833  0.166667
NYJ         0.224138  0.327586  0.293103  0.155172
TB          0.224138  0.224138  0.258621  0.293103
PHI         0.220000  0.200000  0.340000  0.240000
CAR         0.192308  0.211538  0.423077  0.173077
KC          0.173913  0.130435  0.369565  0.326087
BUF         0.163636  0.345455  0.272727  0.218182
DEN         0.145455  0.309091  0.345455  0.200000
STL         0.130435  0.434783  0.195652  0.239130

The Eagles rank poorly in third and short opportunity percentage, and also rank towards the top of league in third and long, and extra long opportunities.  It seems like the Eagles are putting themselves in poor situations, but maybe we can make it more clear.

Let's see how the Eagles should be performing on their third downs, by looking how their  third down percentage would look if they performed at a league average level for each third down type.

In [21]:
#Table that shows third down attempts and rate by team and distance
#thirdytg=df.pivot_table(index='team', columns='ytgBuckets', values='success', aggfunc=[len,  np.mean])

#NFL 3rd down rates by distance
lenmeans=df.pivot_table(columns='ytgBuckets', values='success', aggfunc=np.mean)
eagmeans=df[df["team"]=="PHI"].pivot_table(columns='ytgBuckets', 
                                           values='success', aggfunc=np.mean)

In [22]:
e3d=distfreq.multiply(
    lenmeans, axis=1).sum(axis=1)

e3d.name="e3d"
third=third.join(e3d)

In [23]:
third.sort('e3d', ascending=False)

      sum  len      mean       e3d
team
NE     21   35  0.600000  0.447352
ARI    19   43  0.441860  0.432131
BAL    19   57  0.333333  0.423897
ATL    33   61  0.540984  0.422535
GB     19   47  0.404255  0.418986
SEA    22   57  0.385965  0.416789
NO     27   57  0.473684  0.416290
IND    26   55  0.472727  0.410913
DAL    15   41  0.365854  0.409872
NYG    24   58  0.413793  0.409515
OAK    24   53  0.452830  0.406831
CIN    22   48  0.458333  0.405568
NYJ    24   58  0.413793  0.402039
PIT    21   50  0.420000  0.399876
JAC    21   56  0.375000  0.394152
SF     20   54  0.370370  0.394042
SD     21   50  0.420000  0.392588
HOU    24   66  0.363636  0.391030
WAS    29   63  0.460317  0.390187
MIN    17   48  0.354167  0.389348
TEN    15   38  0.394737  0.385253
DET    16   48  0.333333  0.383936
CHI    26   59  0.440678  0.383572
CAR    21   52  0.403846  0.380222
BUF    19   55  0.345455  0.378603
MIA    14   52  0.269231  0.376518
STL    15   46  0.326087  0.376057
DEN    20   55  0.363636  0.374321
PHI    14   50  0.280000  0.372935
CLE    24   56  0.428571  0.371361
TB     17   58  0.293103  0.366423
KC     12   46  0.260870  0.339891

It's pretty clear that the Eagles are indeed putting themselves in a poor position, as their expected 3rd down rate still ranks in the bottom 4 in the league.  However, there is a large discrepancy between their expected 3rd down rate and their actual.  Let's see how many 3rd downs they've missed out on so far and see how that compares to the rest of the league.

In [24]:
third['expsuccess']=third['len'] * third['e3d']

In [25]:
third["missed"]=third["sum"]-third["expsuccess"]
third.sort("missed")

      sum  len      mean       e3d  expsuccess    missed
team
MIA    14   52  0.269231  0.376518   19.578950 -5.578950
BAL    19   57  0.333333  0.423897   24.162106 -5.162106
PHI    14   50  0.280000  0.372935   18.646755 -4.646755
TB     17   58  0.293103  0.366423   21.252509 -4.252509
KC     12   46  0.260870  0.339891   15.635007 -3.635007
DET    16   48  0.333333  0.383936   18.428908 -2.428908
STL    15   46  0.326087  0.376057   17.298623 -2.298623
BUF    19   55  0.345455  0.378603   20.823154 -1.823154
HOU    24   66  0.363636  0.391030   25.807973 -1.807973
DAL    15   41  0.365854  0.409872   16.804753 -1.804753
SEA    22   57  0.385965  0.416789   23.756967 -1.756967
MIN    17   48  0.354167  0.389348   18.688715 -1.688715
SF     20   54  0.370370  0.394042   21.278249 -1.278249
JAC    21   56  0.375000  0.394152   22.072487 -1.072487
GB     19   47  0.404255  0.418986   19.692328 -0.692328
DEN    20   55  0.363636  0.374321   20.587681 -0.587681
NYG    24   58  0.413793  0.409515   23.751841  0.248159
TEN    15   38  0.394737  0.385253   14.639632  0.360368
ARI    19   43  0.441860  0.432131   18.581623  0.418377
NYJ    24   58  0.413793  0.402039   23.318278  0.681722
PIT    21   50  0.420000  0.399876   19.993788  1.006212
CAR    21   52  0.403846  0.380222   19.771547  1.228453
SD     21   50  0.420000  0.392588   19.629389  1.370611
OAK    24   53  0.452830  0.406831   21.562022  2.437978
CIN    22   48  0.458333  0.405568   19.467285  2.532715
CLE    24   56  0.428571  0.371361   20.796202  3.203798
NO     27   57  0.473684  0.416290   23.728543  3.271457
CHI    26   59  0.440678  0.383572   22.630767  3.369233
IND    26   55  0.472727  0.410913   22.600212  3.399788
WAS    29   63  0.460317  0.390187   24.581759  4.418241
NE     21   35  0.600000  0.447352   15.657332  5.342668
ATL    33   61  0.540984  0.422535   25.774616  7.225384

The Eagles are third in the league in missed third downs.  This data shows that the Eagles are both really poor at setting themselves up for success on 3rd down (29th in expected 3rd down percentage), while at the same time they are very bad at executing on third down (3rd in missed 3rd downs in the league).  It looks like Chip Kelly, Sam Bradford and the rest of the Eagles have a lot of work ahead of them to succeed.

In [97]:
lenmeans.sort(ascending=False, inplace=False)

ytgBuckets
short    0.572368
mid      0.446429
long     0.348361
long+    0.163690
Name: success, dtype: float64

In [98]:
eagmeans.sort(ascending=False, inplace=False)

ytgBuckets
short    0.545455
long+    0.250000
long     0.235294
mid      0.100000
Name: success, dtype: float64

It looks like the key to the Eagles turnaround will be these 3rd and medium situations.  We'll monitor their performance in these situations moving forward.

While league average performance by distance follows an expected relationship where longer opportunities succeed less frequently, the Eagles performance is clearly erratic.  They are performing at below league average levels for every type of third down except for long+, and are a very poor 10% conversion rate on 3rd and mediums.

Over the next couple of articles I will look at how opposing defenses look through this same lens.  I will also look at historical data to judge the predictive performance of e3d on the rest of the season's performance.

Thanks for reading.